In [1]:
import os
import json
import pandas as pd
import mysql.connector
import streamlit as st
import plotly.express as px
from streamlit_option_menu import option_menu
from PIL import Image
from git.repo.base import Repo
import plotly.graph_objects as go

In [60]:
#agree_transaction

path1="C:/Users/Admin/Desktop/New folder/phonepe/pulse/data/aggregated/transaction/country/india/state/"
agg_trans_list= os.listdir(path1)

columns1={"states":[], "years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[], "Transaction_amount":[]}

for state in agg_trans_list:
    cur_state=path1+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data1=open(cur_file,"r")
            
            A=json.load(data1)
            
            for i in A["data"]["transactionData"]:
                Name=i["name"]
                count=i["paymentInstruments"][0]["count"]
                amount=i["paymentInstruments"][0]["amount"]
                columns1["Transaction_type"].append(Name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["states"].append(state)
                columns1["years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))

In [61]:
df = pd.DataFrame(agg_trans_list)

In [4]:
df = pd.DataFrame(agg_trans_list)
df.to_csv('states.csv', index=False)

In [62]:
agg_trans=pd.DataFrame(columns1)

In [63]:
agg_trans

,states,years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,Recharge & bill payments,4200,1.845307e+06
1,andaman-&-nicobar-islands,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,andaman-&-nicobar-islands,2018,1,Merchant payments,298,4.525072e+05
3,andaman-&-nicobar-islands,2018,1,Financial Services,33,1.060142e+04
4,andaman-&-nicobar-islands,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,west-bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,west-bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,west-bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,west-bengal,2023,3,Financial Services,389751,4.249856e+08
4133,west-bengal,2023,3,Others,532474,4.232851e+08

In [64]:
print("NaN values before mapping:")
print(agg_trans['states'].isna().sum())

NaN values before mapping:
0

In [65]:

states_mapping= {'andaman-&-nicobar-islands':'Andaman & Nicobar', 'andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh','assam':'Assam','bihar':'Bihar',
                    'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi':'Delhi',
                    'goa':'Goa', 'gujarat':'Gujarat', 'haryana':'Haryana', 'himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
                    'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh', 'maharashtra':'Maharashtra',
                    'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland', 'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab',
                    'rajasthan':'Rajasthan', 'sikkim':'Sikkim', 'tamil-nadu':'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
                    'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'}
agg_trans['states'].replace(states_mapping, inplace=True)

In [67]:
agg_trans

,states,years,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,Recharge & bill payments,4200,1.845307e+06
1,Andaman & Nicobar,2018,1,Peer-to-peer payments,1871,1.213866e+07
2,Andaman & Nicobar,2018,1,Merchant payments,298,4.525072e+05
3,Andaman & Nicobar,2018,1,Financial Services,33,1.060142e+04
4,Andaman & Nicobar,2018,1,Others,256,1.846899e+05
...,...,...,...,...,...,...
4129,West Bengal,2023,3,Merchant payments,296965002,2.004404e+11
4130,West Bengal,2023,3,Peer-to-peer payments,271150280,8.310501e+11
4131,West Bengal,2023,3,Recharge & bill payments,63055684,3.920985e+10
4132,West Bengal,2023,3,Financial Services,389751,4.249856e+08
4133,West Bengal,2023,3,Others,532474,4.232851e+08

In [ ]:
print(agg_trans)

In [4]:
#agg user

path2="C:/Users/Admin/Desktop/New folder/phonepe/pulse/data/aggregated/user/country/india/state/"
agg_user_list= os.listdir(path2)

columns2={"states":[], "years":[], "Quarter":[], "Brands":[], "Transaction_count":[], "Percentage":[]}

for state in agg_trans_list:
    cur_state=path2+state+"/"
    agg_year_list=os.listdir(cur_state)
    
    for year in agg_year_list:
        cur_year=cur_state+year+"/"
        agg_file_list=os.listdir(cur_year)
        
        for file in agg_file_list:
            cur_file=cur_year+file
            data1=open(cur_file,"r")
            
            B=json.load(data1)
            
            try:
                for i in B["data"]["usersByDevice"]:
                    Brand=i["brand"]
                    count=i["count"]
                    percentage=i["percentage"]
                    columns2["Brands"].append(Brand)
                    columns2["Transaction_count"].append(count)
                    columns2["Percentage"].append(percentage)
                    columns2["states"].append(state)
                    columns2["years"].append(year)
                    columns2["Quarter"].append(int(file.strip(".json")))
            except:
                pass

In [5]:
agg_user=pd.DataFrame(columns2)

In [37]:
agg_user

,states,years,Quarter,Brands,Transaction_count,Percentage
0,andaman-&-nicobar-islands,2018,1,Xiaomi,1665,0.247033
1,andaman-&-nicobar-islands,2018,1,Samsung,1445,0.214392
2,andaman-&-nicobar-islands,2018,1,Vivo,982,0.145697
3,andaman-&-nicobar-islands,2018,1,Oppo,501,0.074332
4,andaman-&-nicobar-islands,2018,1,OnePlus,332,0.049258
...,...,...,...,...,...,...
6727,west-bengal,2022,1,Lenovo,330017,0.015056
6728,west-bengal,2022,1,Infinix,284678,0.012987
6729,west-bengal,2022,1,Asus,280347,0.012790
6730,west-bengal,2022,1,Apple,277752,0.012671
6731,west-bengal,2022,1,Others,2196334,0.100199

In [68]:

states_mapping= {'andaman-&-nicobar-islands':'Andaman & Nicobar', 'andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh','assam':'Assam','bihar':'Bihar',
                    'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi':'Delhi',
                    'goa':'Goa', 'gujarat':'Gujarat', 'haryana':'Haryana', 'himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
                    'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh', 'maharashtra':'Maharashtra',
                    'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland', 'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab',
                    'rajasthan':'Rajasthan', 'sikkim':'Sikkim', 'tamil-nadu':'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
                    'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'}
agg_user['states'].replace(states_mapping, inplace=True)

In [69]:
agg_user

                 states years  Quarter   Brands  Transaction_count  Percentage
0     Andaman & Nicobar  2018        1   Xiaomi               1665    0.247033
1     Andaman & Nicobar  2018        1  Samsung               1445    0.214392
2     Andaman & Nicobar  2018        1     Vivo                982    0.145697
3     Andaman & Nicobar  2018        1     Oppo                501    0.074332
4     Andaman & Nicobar  2018        1  OnePlus                332    0.049258
...                 ...   ...      ...      ...                ...         ...
6727        West Bengal  2022        1   Lenovo             330017    0.015056
6728        West Bengal  2022        1  Infinix             284678    0.012987
6729        West Bengal  2022        1     Asus             280347    0.012790
6730        West Bengal  2022        1    Apple             277752    0.012671
6731        West Bengal  2022        1   Others            2196334    0.100199

[6732 rows x 6 columns]

In [6]:
#map transaction

path3="C:/Users/Admin/Desktop/New folder/phonepe/pulse/data/map/transaction/hover/country/india/state/"
map_trans_list= os.listdir(path3)

columns3={"states":[], "years":[], "Quarter":[], "Districts":[], "Transaction_count":[], "Transaction_amount":[]}

for state in map_trans_list:
    cur_state=path3+state+"/"
    map_year_list=os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file=cur_year+file
            data1=open(cur_file,"r")
            
            C=json.load(data1)
            
            for i in C["data"]["hoverDataList"]:
                    Name=i["name"]
                    count=i["metric"][0]["count"]
                    amount=i["metric"][0]["amount"]
                    columns3["Districts"].append(Name)
                    columns3["Transaction_count"].append(count)
                    columns3["Transaction_amount"].append(amount)
                    columns3["states"].append(state)
                    columns3["years"].append(year)
                    columns3["Quarter"].append(int(file.strip(".json")))

In [7]:
map_trans=pd.DataFrame(columns3)

In [39]:
map_trans

,states,years,Quarter,Districts,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,442,9.316631e+05
1,andaman-&-nicobar-islands,2018,1,south andaman district,5688,1.256025e+07
2,andaman-&-nicobar-islands,2018,1,nicobars district,528,1.139849e+06
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,825,1.317863e+06
4,andaman-&-nicobar-islands,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,west-bengal,2023,3,nadia district,30146530,5.787869e+10
16828,west-bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,west-bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,west-bengal,2023,3,maldah district,28539407,5.299766e+10
16831,west-bengal,2023,3,darjiling district,14747572,2.463195e+10

In [70]:

states_mapping= {'andaman-&-nicobar-islands':'Andaman & Nicobar', 'andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh','assam':'Assam','bihar':'Bihar',
                    'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi':'Delhi',
                    'goa':'Goa', 'gujarat':'Gujarat', 'haryana':'Haryana', 'himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
                    'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh', 'maharashtra':'Maharashtra',
                    'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland', 'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab',
                    'rajasthan':'Rajasthan', 'sikkim':'Sikkim', 'tamil-nadu':'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
                    'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'}
map_trans['states'].replace(states_mapping, inplace=True)

In [71]:
map_trans

,states,years,Quarter,Districts,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,north and middle andaman district,442,9.316631e+05
1,Andaman & Nicobar,2018,1,south andaman district,5688,1.256025e+07
2,Andaman & Nicobar,2018,1,nicobars district,528,1.139849e+06
3,Andaman & Nicobar,2018,2,north and middle andaman district,825,1.317863e+06
4,Andaman & Nicobar,2018,2,south andaman district,9395,2.394824e+07
...,...,...,...,...,...,...
16827,West Bengal,2023,3,nadia district,30146530,5.787869e+10
16828,West Bengal,2023,3,birbhum district,17597047,3.090737e+10
16829,West Bengal,2023,3,purba medinipur district,34244893,6.813718e+10
16830,West Bengal,2023,3,maldah district,28539407,5.299766e+10
16831,West Bengal,2023,3,darjiling district,14747572,2.463195e+10

In [8]:
#map user

path4="C:/Users/Admin/Desktop/New folder/phonepe/pulse/data/map/user/hover/country/india/state/"
map_user_list= os.listdir(path4)

columns4={"states":[], "years":[], "Quarter":[], "Districts":[], "RegisteredUsers":[], "AppOpens":[]}

for state in map_user_list:
    cur_state=path4+state+"/"
    map_year_list=os.listdir(cur_state)
    
    for year in map_year_list:
        cur_year=cur_state+year+"/"
        map_file_list=os.listdir(cur_year)
        
        for file in map_file_list:
            cur_file=cur_year+file
            data1=open(cur_file,"r")
            
            D=json.load(data1)
            for i in D["data"]["hoverData"].items():
                district=i[0]
                registeredUsers=i[1]["registeredUsers"]
                appOpens=i[1]["appOpens"]
                columns4["Districts"].append(district)
                columns4["RegisteredUsers"].append(registeredUsers)
                columns4["AppOpens"].append(appOpens)
                columns4["states"].append(state)
                columns4["years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))

In [9]:
map_user=pd.DataFrame(columns4)

In [42]:
map_user

,states,years,Quarter,Districts,RegisteredUsers,AppOpens
0,andaman-&-nicobar-islands,2018,1,north and middle andaman district,632,0
1,andaman-&-nicobar-islands,2018,1,south andaman district,5846,0
2,andaman-&-nicobar-islands,2018,1,nicobars district,262,0
3,andaman-&-nicobar-islands,2018,2,north and middle andaman district,911,0
4,andaman-&-nicobar-islands,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,west-bengal,2023,3,nadia district,1544294,12674328
16832,west-bengal,2023,3,birbhum district,974363,18961683
16833,west-bengal,2023,3,purba medinipur district,1530289,18593769
16834,west-bengal,2023,3,maldah district,1091634,28020285
16835,west-bengal,2023,3,darjiling district,637665,21732323

In [72]:

states_mapping= {'andaman-&-nicobar-islands':'Andaman & Nicobar', 'andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh','assam':'Assam','bihar':'Bihar',
                    'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi':'Delhi',
                    'goa':'Goa', 'gujarat':'Gujarat', 'haryana':'Haryana', 'himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
                    'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh', 'maharashtra':'Maharashtra',
                    'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland', 'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab',
                    'rajasthan':'Rajasthan', 'sikkim':'Sikkim', 'tamil-nadu':'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
                    'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'}
map_user['states'].replace(states_mapping, inplace=True)

In [73]:
map_user

,states,years,Quarter,Districts,RegisteredUsers,AppOpens
0,Andaman & Nicobar,2018,1,north and middle andaman district,632,0
1,Andaman & Nicobar,2018,1,south andaman district,5846,0
2,Andaman & Nicobar,2018,1,nicobars district,262,0
3,Andaman & Nicobar,2018,2,north and middle andaman district,911,0
4,Andaman & Nicobar,2018,2,south andaman district,8143,0
...,...,...,...,...,...,...
16831,West Bengal,2023,3,nadia district,1544294,12674328
16832,West Bengal,2023,3,birbhum district,974363,18961683
16833,West Bengal,2023,3,purba medinipur district,1530289,18593769
16834,West Bengal,2023,3,maldah district,1091634,28020285
16835,West Bengal,2023,3,darjiling district,637665,21732323

In [10]:
#top_trans

path5="C:/Users/Admin/Desktop/New folder/phonepe/pulse/data/top/transaction/country/india/state/"
top_trans_list= os.listdir(path5)

columns5 = {"states":[], "years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_trans_list:
    cur_state=path5+state+"/"
    top_year_list=os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year=cur_state+year+"/"
        top_file_list=os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file=cur_year+file
            data1=open(cur_file,"r")
            E=json.load(data1)
            
            for i in E["data"]["pincodes"]:
                entityName=i["entityName"]
                count=i["metric"]["count"]
                amount=i["metric"]["amount"]
                columns5["Pincodes"].append(entityName)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)
                columns5["states"].append(state)
                columns5["years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))

In [11]:
top_trans=pd.DataFrame(columns5)

In [45]:
top_trans

,states,years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,andaman-&-nicobar-islands,2018,1,744101,1622,2.769298e+06
1,andaman-&-nicobar-islands,2018,1,744103,1223,2.238042e+06
2,andaman-&-nicobar-islands,2018,1,744102,969,3.519060e+06
3,andaman-&-nicobar-islands,2018,1,744105,685,1.298561e+06
4,andaman-&-nicobar-islands,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8205,west-bengal,2023,3,700001,3536928,7.193522e+09
8206,west-bengal,2023,3,721301,3464729,4.871566e+09
8207,west-bengal,2023,3,700039,3405551,5.095825e+09
8208,west-bengal,2023,3,732125,3347165,5.353831e+09
8209,west-bengal,2023,3,700015,3304464,5.003674e+09

In [74]:

states_mapping= {'andaman-&-nicobar-islands':'Andaman & Nicobar', 'andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh','assam':'Assam','bihar':'Bihar',
                    'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi':'Delhi',
                    'goa':'Goa', 'gujarat':'Gujarat', 'haryana':'Haryana', 'himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
                    'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh', 'maharashtra':'Maharashtra',
                    'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland', 'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab',
                    'rajasthan':'Rajasthan', 'sikkim':'Sikkim', 'tamil-nadu':'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
                    'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'}
top_trans['states'].replace(states_mapping, inplace=True)

In [75]:
top_trans

,states,years,Quarter,Pincodes,Transaction_count,Transaction_amount
0,Andaman & Nicobar,2018,1,744101,1622,2.769298e+06
1,Andaman & Nicobar,2018,1,744103,1223,2.238042e+06
2,Andaman & Nicobar,2018,1,744102,969,3.519060e+06
3,Andaman & Nicobar,2018,1,744105,685,1.298561e+06
4,Andaman & Nicobar,2018,1,744104,340,1.039715e+06
...,...,...,...,...,...,...
8205,West Bengal,2023,3,700001,3536928,7.193522e+09
8206,West Bengal,2023,3,721301,3464729,4.871566e+09
8207,West Bengal,2023,3,700039,3405551,5.095825e+09
8208,West Bengal,2023,3,732125,3347165,5.353831e+09
8209,West Bengal,2023,3,700015,3304464,5.003674e+09

In [12]:
#top_user

path6="C:/Users/Admin/Desktop/New folder/phonepe/pulse/data/top/user/country/india/state/"
top_user_list= os.listdir(path6)

columns6 = {"states":[], "years":[], "Quarter":[], "Pincodes":[], "RegisteredUser":[]}

for state in top_user_list:
    cur_state=path6+state+"/"
    top_year_list=os.listdir(cur_state)
    
    for year in top_year_list:
        cur_year=cur_state+year+"/"
        top_file_list=os.listdir(cur_year)
        
        for file in top_file_list:
            cur_file=cur_year+file
            data1=open(cur_file,"r")
            F=json.load(data1)
            
            for i in F["data"]["pincodes"]:
                Name = i["name"]
                Registereduser = i["registeredUsers"]
                columns6["Pincodes"].append(Name)
                columns6["RegisteredUser"].append(Registereduser)
                columns6["states"].append(state)
                columns6["years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

In [13]:
top_user=pd.DataFrame(columns6)

In [48]:
top_user

                         states years  Quarter Pincodes  RegisteredUser
0     andaman-&-nicobar-islands  2018        1   744103            1608
1     andaman-&-nicobar-islands  2018        1   744101            1108
2     andaman-&-nicobar-islands  2018        1   744105            1075
3     andaman-&-nicobar-islands  2018        1   744102            1006
4     andaman-&-nicobar-islands  2018        1   744104             272
...                         ...   ...      ...      ...             ...
8206                west-bengal  2023        3   700015          122316
8207                west-bengal  2023        3   742304          119245
8208                west-bengal  2023        3   721101          118798
8209                west-bengal  2023        3   700150          114987
8210                west-bengal  2023        3   734006          113991

[8211 rows x 5 columns]

In [76]:

states_mapping= {'andaman-&-nicobar-islands':'Andaman & Nicobar', 'andhra-pradesh':'Andhra Pradesh', 'arunachal-pradesh':'Arunachal Pradesh','assam':'Assam','bihar':'Bihar',
                    'chandigarh':'Chandigarh', 'chhattisgarh':'Chhattisgarh', 'dadra-&-nagar-haveli-&-daman-&-diu':'Dadra and Nagar Haveli and Daman and Diu', 'delhi':'Delhi',
                    'goa':'Goa', 'gujarat':'Gujarat', 'haryana':'Haryana', 'himachal-pradesh':'Himachal Pradesh', 'jammu-&-kashmir':'Jammu & Kashmir', 'jharkhand':'Jharkhand',
                    'karnataka':'Karnataka', 'kerala':'Kerala', 'ladakh':'Ladakh', 'lakshadweep':'Lakshadweep', 'madhya-pradesh':'Madhya Pradesh', 'maharashtra':'Maharashtra',
                    'manipur':'Manipur', 'meghalaya':'Meghalaya', 'mizoram':'Mizoram', 'nagaland':'Nagaland', 'odisha':'Odisha', 'puducherry':'Puducherry', 'punjab':'Punjab',
                    'rajasthan':'Rajasthan', 'sikkim':'Sikkim', 'tamil-nadu':'Tamil Nadu', 'telangana':'Telangana', 'tripura':'Tripura', 'uttar-pradesh':'Uttar Pradesh',
                    'uttarakhand':'Uttarakhand', 'west-bengal':'West Bengal'}
top_user['states'].replace(states_mapping, inplace=True)

In [77]:
top_user

                 states years  Quarter Pincodes  RegisteredUser
0     Andaman & Nicobar  2018        1   744103            1608
1     Andaman & Nicobar  2018        1   744101            1108
2     Andaman & Nicobar  2018        1   744105            1075
3     Andaman & Nicobar  2018        1   744102            1006
4     Andaman & Nicobar  2018        1   744104             272
...                 ...   ...      ...      ...             ...
8206        West Bengal  2023        3   700015          122316
8207        West Bengal  2023        3   742304          119245
8208        West Bengal  2023        3   721101          118798
8209        West Bengal  2023        3   700150          114987
8210        West Bengal  2023        3   734006          113991

[8211 rows x 5 columns]

In [78]:
#Converting Dataframes to CSV files

agg_trans.to_csv('agg_trans.csv',index=False)
agg_user.to_csv('agg_user.csv',index=False)
map_trans.to_csv('map_trans.csv',index=False)
map_user.to_csv('map_user.csv',index=False)
top_trans.to_csv('top_trans.csv',index=False)
top_user.to_csv('top_user.csv',index=False)

In [79]:
#sql connection

mydb = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B0F9D18DD0>

In [80]:
mycursor.execute("create database if not exists phonepe_data")
mydb.commit()

In [81]:
mycursor.execute("use phonepe_data")
mydb.commit()

In [82]:
#creating table
#agg trans table

create_table1='''CREATE TABLE IF NOT EXISTS aggregated_transaction(states varchar(50),
                                                                years int,
                                                                Quarter int,
                                                                Transaction_type varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint
                                                                )'''
mycursor.execute(create_table1)
mydb.commit()

for index, row in agg_trans.iterrows():
        query1='''insert into aggregated_transaction(states, years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                        values(%s,%s,%s,%s,%s,%s)'''
                                                        
        values1=(row["states"],
        row["years"],
                row["Quarter"],
                row["Transaction_type"],
                row["Transaction_count"],
                row["Transaction_amount"]
                )
        mycursor.execute(query1,values1)
        mydb.commit()

In [83]:
#agg user table

create_table2='''CREATE TABLE IF NOT EXISTS aggregated_user(states varchar(50),
                                                                years int,
                                                                Quarter int,
                                                                Brands varchar(50),
                                                                Transaction_count bigint,
                                                                Percentage float)'''
mycursor.execute(create_table2)
mydb.commit()

for index,row in agg_user.iterrows():
    query2 = '''INSERT INTO aggregated_user (states, years, Quarter, Brands, Transaction_count, Percentage)
                                                        values(%s,%s,%s,%s,%s,%s)'''
    values = (row["states"],
            row["years"],
            row["Quarter"],
            row["Brands"],
            row["Transaction_count"],
            row["Percentage"])
    mycursor.execute(query2,values)
    mydb.commit()

In [84]:
#map trans table
create_table3='''CREATE TABLE IF NOT EXISTS map_transaction (states varchar(50),
                                                                years int,
                                                                Quarter int,
                                                                Districts varchar(50),
                                                                Transaction_count bigint,
                                                                Transaction_amount float)'''
mycursor.execute(create_table3)
mydb.commit()

for index,row in map_trans.iterrows():
    query3 = '''INSERT INTO map_Transaction (states, years, Quarter, Districts, Transaction_count, Transaction_amount)
                                                VALUES (%s, %s, %s, %s, %s, %s)'''
    values = (
        row['states'],
        row['years'],
        row['Quarter'],
        row['Districts'],
        row['Transaction_count'],
        row['Transaction_amount']
    )
    mycursor.execute(query3,values)
    mydb.commit()

In [85]:
#map user table
create_table4='''CREATE TABLE IF NOT EXISTS map_user (states varchar(50),
                                                        years int,
                                                        Quarter int,
                                                        Districts varchar(50),
                                                        RegisteredUsers bigint,
                                                        AppOpens bigint)'''
mycursor.execute(create_table4)
mydb.commit()

for index,row in map_user.iterrows():
    query4 = '''INSERT INTO map_user (states, years, Quarter, Districts, RegisteredUsers, AppOpens)
                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["states"],
            row["years"],
            row["Quarter"],
            row["Districts"],
            row["RegisteredUsers"],
            row["AppOpens"])
    mycursor.execute(query4,values)
    mydb.commit()

In [86]:
#top trans table

create_table5='''CREATE TABLE IF NOT EXISTS top_transaction (states varchar(50),
                                                                years int,
                                                                Quarter int,
                                                                Pincodes int,
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
mycursor.execute(create_table5)
mydb.commit()

for index,row in top_trans.iterrows():
    query5 = '''INSERT INTO top_transaction (states, years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values(%s,%s,%s,%s,%s,%s)'''
    values = (row["states"],
            row["years"],
            row["Quarter"],
            row["Pincodes"],
            row["Transaction_count"],
            row["Transaction_amount"])
    mycursor.execute(query5,values)
    mydb.commit()

In [87]:
#top user
create_table6='''CREATE TABLE IF NOT EXISTS top_user (states varchar(50),
                                                        years int,
                                                        Quarter int,
                                                        Pincodes int,
                                                        RegisteredUser bigint
                                                        )'''
mycursor.execute(create_table6)
mydb.commit()

for index,row in top_user.iterrows():
        query6 = '''INSERT INTO top_user (states, years, Quarter, Pincodes, RegisteredUser)
                                values(%s,%s,%s,%s,%s)'''
        values = (row["states"],
                row["years"],
                row["Quarter"],
                row["Pincodes"],
                row["RegisteredUser"])
        mycursor.execute(query6,values)
        mydb.commit()

In [88]:
# Setting up page configuration
icon = Image.open("icon.png")
st.set_page_config(page_title= "Phonepe Pulse Data Visualization And Exploration",
                page_icon= icon,
                layout= "wide",
                initial_sidebar_state= "expanded",
                menu_items={'About': """Data has been cloned from Phonepe Pulse Github Repo"""})

st.sidebar.header(":wave: :violet[**Hello! Welcome to the dashboard**]")

DeltaGenerator(_root_container=1, _parent=DeltaGenerator())

In [89]:
mydb = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001B0F9E0E420>

In [90]:
mycursor.execute("use phonepe_data")
mydb.commit()

In [91]:
# Creating option menu in the side bar
with st.sidebar:
    selected = option_menu("Menu", ["Home","Top Charts","Explore Data","About"], 
                icons=["house","graph-up-arrow","bar-chart-line", "exclamation-circle"],
                menu_icon= "menu-button-wide",
                default_index=0,
                styles={"nav-link": {"font-size": "20px", "text-align": "left", "margin": "-2px", "--hover-color": "#6F36AD"},
                        "nav-link-selected": {"background-color": "#6F36AD"}})
# MENU 1 - HOME
if selected == "Home":
    st.image("image.png")
    st.markdown("# :violet[Data Visualization and Exploration]")
    st.markdown("## :violet[A User-Friendly Tool Using Streamlit and Plotly]")
    col1,col2 = st.columns([3,2],gap="medium")
    with col1:
        st.write(" ")
        st.write(" ")
        st.markdown("### :violet[Domain :] Fintech")
        st.markdown("### :violet[Technologies used :] Github Cloning, Python, Pandas, MySQL, mysql-connector-python, Streamlit, and Plotly.")
        st.markdown("### :violet[Overview :] In this streamlit web app you can visualize the phonepe pulse data and gain lot of insights on transactions, number of users, top 10 state, district, pincode and which brand has most number of users and so on. Bar charts, Pie charts and Geo map visualization are used to get some insights.")
    with col2:
        st.image("image2.jpg")

In [92]:
# MENU 2 - TOP CHARTS
if selected == "Top Charts":
    st.markdown("## :violet[Top Charts]")
    Type = st.sidebar.selectbox("**Type**", ("Transactions", "Users"))
    colum1,colum2= st.columns([1,1.5],gap="large")
    with colum1:
        Year = st.slider("**Year**", min_value=2018, max_value=2022)
        Quarter = st.slider("Quarter", min_value=1, max_value=4)
    
    with colum2:
        st.info(
                """
                #### From this menu we can get insights like :
                - Overall ranking on a particular Year and Quarter.
                - Top 10 States, Districts, Pincodes based on Total number of transaction and Total amount spent on phonepe.
                - Top 10 States, Districts, Pincodes based on Total phonepe users and their app opening frequency.
                - Top 10 mobile brands and its percentage based on the how many people use phonepe.
                """,icon="🔍"
                )
        
        
    # Top Charts - TRANSACTIONS    
    if Type == "Transactions":
        col1,col2,col3 = st.columns([1,1,1],gap="small")
        
        with col1:
            st.markdown("### :violet[State]")
            mycursor.execute(f"select states as states, sum(Transaction_count) as Transactions_Count, sum(Transaction_amount) as Total_amount from aggregated_transaction where years = {Year} and Quarter = {Quarter} group by states order by Total_amount desc limit 10")
            df = pd.DataFrame(mycursor.fetchall(), columns=['states','Transactions_Count','Total_amount'])
            fig = px.pie(df, values='Total_amount',
                            names='states',
                            title='Top 10',
                            color_discrete_sequence=px.colors.sequential.Agsunset,
                            hover_data=['Transactions_Count'],
                            labels={'Transactions_Count':'Transactions_Count'})

            fig.update_traces(textposition='inside', textinfo='percent+label')
            st.plotly_chart(fig,use_container_width=True)
            
        with col2:
            st.markdown("### :violet[District]")
            mycursor.execute(f"select Districts as Districts , sum(Transaction_count) as Transactions_Count, sum(Transaction_amount) as Total_amount from map_transaction where years = {Year} and Quarter = {Quarter} group by Districts order by Total_amount desc limit 10")
            df = pd.DataFrame(mycursor.fetchall(), columns=['Districts', 'Transactions_Count','Total_amount'])

            fig = px.pie(df, values='Total_amount',
                            names='Districts',
                            title='Top 10',
                            color_discrete_sequence=px.colors.sequential.Agsunset,
                            hover_data=['Transactions_Count'],
                            labels={'Transactions_Count':'Transactions_Count'})

            fig.update_traces(textposition='inside', textinfo='percent+label')
            st.plotly_chart(fig,use_container_width=True)
            
        with col3:
            st.markdown("### :violet[Pincode]")
            mycursor.execute(f"select Pincodes, sum(Transaction_count) as Total_Transactions_Count, sum(Transaction_amount) as Total from top_transaction where years = {Year} and Quarter = {Quarter} group by Pincodes order by Total desc limit 10")
            df = pd.DataFrame(mycursor.fetchall(), columns=['Pincodes', 'Transactions_Count','Total_Amount'])
            fig = px.pie(df, values='Total_Amount',
                                names='Pincode',
                                title='Top 10',
                                color_discrete_sequence=px.colors.sequential.Agsunset,
                                hover_data=['Transactions_Count'],
                                labels={'Transactions_Count':'Transactions_Count'})

            fig.update_traces(textposition='inside', textinfo='percent+label')
            st.plotly_chart(fig,use_container_width=True)
            
    # Top Charts - USERS          
    if Type == "Users":
        col1,col2,col3,col4 = st.columns([2,2,2,2],gap="small")
        
        with col1:
            st.markdown("### :violet[Brands]")
            if Year == 2022 and Quarter in [2,3,4]:
                st.markdown("#### Sorry No Data to Display for 2022 Qtr 2,3,4")
            else:
                mycursor.execute(f"select Brands as Brands, sum(Transaction_count) as Total_Count, avg(Percentage)*100 as Avg_Percentage from aggregated_user where years = {Year} and Quarter = {Quarter} group by Brands order by Total_Count desc limit 10")
                df = pd.DataFrame(mycursor.fetchall(), columns=['Brands', 'Total_Count','Avg_Percentage'])
                fig = px.bar(df,
                                title='Top 10',
                                x="Total_Count",
                                y="Brands",
                                orientation='h',
                                color='Avg_Percentage',
                                color_continuous_scale=px.colors.sequential.Agsunset)
                st.plotly_chart(fig,use_container_width=True)
                
        with col2:
            st.markdown("### :violet[District]")
            mycursor.execute(f"select Districts as Districts, sum(RegisteredUsers) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where years = {Year} and Quarter = {Quarter} group by Districts order by Total_Users desc limit 10")
            df = pd.DataFrame(mycursor.fetchall(), columns=['Districts', 'Total_Users','Total_Appopens'])
            df.Total_Users = df.Total_Users.astype(float)
            fig = px.bar(df,
                            title='Top 10',
                            x="Total_Users",
                            y="Districts",
                            orientation='h',
                            color='Total_Users',
                            color_continuous_scale=px.colors.sequential.Agsunset)
            st.plotly_chart(fig,use_container_width=True)
            
        with col3:
            st.markdown("### :violet[Pincode]")
            mycursor.execute(f"select Pincodes as Pincodes, sum(RegisteredUser) as Total_Users from top_user where years = {Year} and Quarter = {Quarter} group by Pincodes order by Total_Users desc limit 10")
            df = pd.DataFrame(mycursor.fetchall(), columns=['Pincodes', 'Total_Users'])
            fig = px.pie(df,
                            values='Total_Users',
                            names='Pincodes',
                            title='Top 10',
                            color_discrete_sequence=px.colors.sequential.Agsunset,
                            hover_data=['Total_Users'])
            fig.update_traces(textposition='inside', textinfo='percent+label')
            st.plotly_chart(fig,use_container_width=True)
            
        with col4:
            st.markdown("### :violet[State]")
            mycursor.execute(f"select states, sum(RegisteredUsers) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where years = {Year} and Quarter = {Quarter} group by states order by Total_Users desc limit 10")
            df = pd.DataFrame(mycursor.fetchall(), columns=['State', 'Total_Users','Total_Appopens'])
            fig = px.pie(df, values='Total_Users',
                                names='State',
                                title='Top 10',
                                color_discrete_sequence=px.colors.sequential.Agsunset,
                                hover_data=['Total_Appopens'],
                                labels={'Total_Appopens':'Total_Appopens'})

            fig.update_traces(textposition='inside', textinfo='percent+label')
            st.plotly_chart(fig,use_container_width=True)

In [112]:
# MENU 3 - EXPLORE DATA
if selected == "Explore Data":
    Year = st.sidebar.slider("**Year**", min_value=2018, max_value=2022)
    Quarter = st.sidebar.slider("Quarter", min_value=1, max_value=4)
    Type = st.sidebar.selectbox("**Type**", ("Transactions", "Users"))
    col1,col2 = st.columns(2)
    
    # EXPLORE DATA - TRANSACTIONS
    if Type == "Transactions":
        
        # Overall State Data - TRANSACTIONS AMOUNT - INDIA MAP 
        with col1:
            st.markdown("## :violet[Overall State Data - Transactions Amount]")
            mycursor.execute(f"select states, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where years = {Year} and Quarter = {Quarter} group by states order by states")
            df1 = pd.DataFrame(mycursor.fetchall(),columns= ['states', 'Total_Transactions', 'Total_amount'])
            df2 = pd.read_csv('states.csv')
            df1.states=df2

            fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                                    featureidkey='properties.ST_NM',
                                    locations='states',
                                    color='Total_amount',
                                    color_continuous_scale='sunset')
            fig.update_geos(fitbounds="locations", visible=False)
            st.plotly_chart(fig,use_container_width=True)

In [111]:
st.markdown("## :violet[Overall State Data - Transactions Amount]")
mycursor.execute(f"select states, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where years = {Year} and Quarter = {Quarter} group by states order by states")
df1 = pd.DataFrame(mycursor.fetchall(),columns= ['states', 'Total_Transactions', 'Total_amount'])
df2 = pd.read_csv('states.csv')
df1.states=df2

fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                        featureidkey='properties.ST_NM',
                        locations='states',
                        color='Total_amount',
                        color_continuous_scale='sunset')
fig.update_geos(fitbounds="locations", visible=False)
#st.plotly_chart(fig,use_container_width=True)

In [113]:
# Overall State Data - TRANSACTIONS COUNT - INDIA MAP
with col2:
    
    st.markdown("## :violet[Overall State Data - Transactions Count]")
    mycursor.execute(f"select states, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where years = {Year} and Quarter = {Quarter} group by states order by states")
    df1 = pd.DataFrame(mycursor.fetchall(),columns= ['states', 'Total_Transactions', 'Total_amount'])
    df2 = pd.read_csv('states.csv')
    df1.Total_Transactions = df1.Total_Transactions.astype(int)
    df1.states = df2

    fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                featureidkey='properties.ST_NM',
                locations='states',
                color='Total_Transactions',
                color_continuous_scale='sunset')

    fig.update_geos(fitbounds="locations", visible=False)
    st.plotly_chart(fig,use_container_width=True)

In [114]:
st.markdown("## :violet[Overall State Data - Transactions Count]")
mycursor.execute(f"select states, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where years = {Year} and Quarter = {Quarter} group by states order by states")
df1 = pd.DataFrame(mycursor.fetchall(),columns= ['states', 'Total_Transactions', 'Total_amount'])
df2 = pd.read_csv('states.csv')
df1.Total_Transactions = df1.Total_Transactions.astype(int)
df1.states = df2

fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
            featureidkey='properties.ST_NM',
            locations='states',
            color='Total_Transactions',
            color_continuous_scale='sunset')

fig.update_geos(fitbounds="locations", visible=False)

In [115]:
# BAR CHART - TOP PAYMENT TYPE
st.markdown("## :violet[Top Payment Type]")
mycursor.execute(f"select Transaction_type, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from aggregated_transaction where years= {Year} and Quarter = {Quarter} group by Transaction_type order by Transaction_type")
df = pd.DataFrame(mycursor.fetchall(), columns=['Transaction_type', 'Total_Transactions','Total_amount'])

fig = px.bar(df,
                title='Transaction Types vs Total_Transactions',
                x="Transaction_type",
                y="Total_Transactions",
                orientation='v',
                color='Total_amount',
                color_continuous_scale=px.colors.sequential.Agsunset)
st.plotly_chart(fig,use_container_width=False)

DeltaGenerator()

In [127]:
# BAR CHART TRANSACTIONS - DISTRICT WISE DATA            
st.markdown("# ")
st.markdown("# ")
st.markdown("# ")
st.markdown("## :violet[Select any State to explore more]")
selected_state = st.selectbox("",
                        ('andaman-&-nicobar-islands','andhra-pradesh','arunachal-pradesh','assam','bihar',
                        'chandigarh','chhattisgarh','dadra-&-nagar-haveli-&-daman-&-diu','delhi','goa','gujarat','haryana',
                        'himachal-pradesh','jammu-&-kashmir','jharkhand','karnataka','kerala','ladakh','lakshadweep',
                        'madhya-pradesh','maharashtra','manipur','meghalaya','mizoram',
                        'nagaland','odisha','puducherry','punjab','rajasthan','sikkim',
                        'tamil-nadu','telangana','tripura','uttar-pradesh','uttarakhand','west-bengal'),index=30)
mycursor.execute(f"select states, Districts,years,Quarter, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where years = {Year} and Quarter = {Quarter} and states = '{selected_state}' group by states, Districts,years,Quarter order by states,Districts")
df1 = pd.DataFrame(mycursor.fetchall(), columns=['states','Districts','years','Quarter','Total_Transactions','Total_amount'])

fig = px.bar(df1,
                title=selected_state,
                x="Districts",
                y="Total_Transactions",
                orientation='v',
                color='Total_amount',
                color_continuous_scale=px.colors.sequential.Agsunset)
st.plotly_chart(fig,use_container_width=True)

2023-12-27 14:17:11.850 `label` got an empty value. This is discouraged for accessibility reasons and may be disallowed in the future by raising an exception. Please provide a non-empty label and hide it with label_visibility if needed.

DeltaGenerator()

In [123]:
selected_state = st.selectbox("",
                        ('andaman-&-nicobar-islands','andhra-pradesh','arunachal-pradesh','assam','bihar',
                        'chandigarh','chhattisgarh','dadra-&-nagar-haveli-&-daman-&-diu','delhi','goa','gujarat','haryana',
                        'himachal-pradesh','jammu-&-kashmir','jharkhand','karnataka','kerala','ladakh','lakshadweep',
                        'madhya-pradesh','maharashtra','manipur','meghalaya','mizoram',
                        'nagaland','odisha','puducherry','punjab','rajasthan','sikkim',
                        'tamil-nadu','telangana','tripura','uttar-pradesh','uttarakhand','west-bengal'),index=30)
mycursor.execute(f"select states, Districts,years,Quarter, sum(Transaction_count) as Total_Transactions, sum(Transaction_amount) as Total_amount from map_transaction where years = {Year} and Quarter = {Quarter} and states = '{selected_state}' group by states, Districts,years,Quarter order by states,Districts")
df1 = pd.DataFrame(mycursor.fetchall(), columns=['states','Districts','years','Quarter','Total_Transactions','Total_amount'])

fig = px.bar(df1,
                title=selected_state,
                x="Districts",
                y="Total_Transactions",
                orientation='v',
                color='Total_amount',
                color_continuous_scale=px.colors.sequential.Agsunset)
st.plotly_chart(fig,use_container_width=True)

2023-12-27 14:15:44.212 `label` got an empty value. This is discouraged for accessibility reasons and may be disallowed in the future by raising an exception. Please provide a non-empty label and hide it with label_visibility if needed.

In [117]:
# EXPLORE DATA - USERS      
if Type == "Users":
    
    # Overall State Data - TOTAL APPOPENS - INDIA MAP
    st.markdown("## :violet[Overall State Data - User App opening frequency]")
    mycursor.execute(f"select states, sum(RegisteredUsers) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where years = {Year} and Quarter = {Quarter} group by states order by states")
    df1 = pd.DataFrame(mycursor.fetchall(), columns=['states', 'Total_Users','Total_Appopens'])
    df2 = pd.read_csv('states.csv')
    df1.Total_Appopens = df1.Total_Appopens.astype(float)
    df1.states = df2
    
    fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
                featureidkey='properties.ST_NM',
                locations='states',
                color='Total_Appopens',
                color_continuous_scale='sunset')

    fig.update_geos(fitbounds="locations", visible=False)
    st.plotly_chart(fig,use_container_width=True)

In [119]:
# Overall State Data - TOTAL APPOPENS - INDIA MAP
st.markdown("## :violet[Overall State Data - User App opening frequency]")
mycursor.execute(f"select states, sum(RegisteredUsers) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where years = {Year} and Quarter = {Quarter} group by states order by states")
df1 = pd.DataFrame(mycursor.fetchall(), columns=['states', 'Total_Users','Total_Appopens'])
df2 = pd.read_csv('states.csv')
df1.Total_Appopens = df1.Total_Appopens.astype(float)
df1.states = df2

fig = px.choropleth(df1,geojson="https://gist.githubusercontent.com/jbrobst/56c13bbbf9d97d187fea01ca62ea5112/raw/e388c4cae20aa53cb5090210a42ebb9b765c0a36/india_states.geojson",
            featureidkey='properties.ST_NM',
            locations='states',
            color='Total_Appopens',
            color_continuous_scale='sunset')

fig.update_geos(fitbounds="locations", visible=False)
#st.plotly_chart(fig,use_container_width=True)

In [120]:
# BAR CHART TOTAL UERS - DISTRICT WISE DATA 
st.markdown("## :violet[Select any states to explore more]")
selected_state = st.selectbox("",
                        ('andaman-&-nicobar-islands','andhra-pradesh','arunachal-pradesh','assam','bihar',
                        'chandigarh','chhattisgarh','dadra-&-nagar-haveli-&-daman-&-diu','delhi','goa','gujarat','haryana',
                        'himachal-pradesh','jammu-&-kashmir','jharkhand','karnataka','kerala','ladakh','lakshadweep',
                        'madhya-pradesh','maharashtra','manipur','meghalaya','mizoram',
                        'nagaland','odisha','puducherry','punjab','rajasthan','sikkim',
                        'tamil-nadu','telangana','tripura','uttar-pradesh','uttarakhand','west-bengal'),index=30)

mycursor.execute(f"select states,years,Quarter,Districts,sum(RegisteredUsers) as Total_Users, sum(AppOpens) as Total_Appopens from map_user where years = {Year} and Quarter = {Quarter} and states = '{selected_state}' group by states, Districts,years,Quarter order by states,Districts")

df = pd.DataFrame(mycursor.fetchall(), columns=['states','years', 'Quarter', 'Districts', 'Total_Users','Total_Appopens'])
df.Total_Users = df.Total_Users.astype(int)

fig = px.bar(df,
                title=selected_state,
                x="Districts",
                y="Total_Users",
                orientation='v',
                color='Total_Users',
                color_continuous_scale=px.colors.sequential.Agsunset)
st.plotly_chart(fig,use_container_width=True)

2023-12-27 14:02:01.060 `label` got an empty value. This is discouraged for accessibility reasons and may be disallowed in the future by raising an exception. Please provide a non-empty label and hide it with label_visibility if needed.

DeltaGenerator()

In [129]:
# MENU 4 - ABOUT
if selected == "About":
    col1,col2 = st.columns([3,3],gap="medium")
    with col1:
        st.write(" ")
        st.write(" ")
        st.markdown("### :violet[About PhonePe Pulse:] ")
        st.write("##### BENGALURU, India, On Sept. 3, 2021 PhonePe, India's leading fintech platform, announced the launch of PhonePe Pulse, India's first interactive website with data, insights and trends on digital payments in the country. The PhonePe Pulse website showcases more than 2000+ Crore transactions by consumers on an interactive map of India. With  over 45% market share, PhonePe's data is representative of the country's digital payment habits.")
        
        st.write("##### The insights on the website and in the report have been drawn from two key sources - the entirety of PhonePe's transaction data combined with merchant and customer interviews. The report is available as a free download on the PhonePe Pulse website and GitHub.")
        
        st.markdown("### :violet[About PhonePe:] ")
        st.write("##### PhonePe is India's leading fintech platform with over 300 million registered users. Using PhonePe, users can send and receive money, recharge mobile, DTH, pay at stores, make utility payments, buy gold and make investments. PhonePe forayed into financial services in 2017 with the launch of Gold providing users with a safe and convenient option to buy 24-karat gold securely on its platform. PhonePe has since launched several Mutual Funds and Insurance products like tax-saving funds, liquid funds, international travel insurance and Corona Care, a dedicated insurance product for the COVID-19 pandemic among others. PhonePe also launched its Switch platform in 2018, and today its customers can place orders on over 600 apps directly from within the PhonePe mobile app. PhonePe is accepted at 20+ million merchant outlets across Bharat")
        
    with col2:
        st.write(" ")
        st.write(" ")
        st.write(" ")
        st.write(" ")
        st.image("about1.jpg")